/* Titel h1 #2E2F42 */
/* параграфи p #434455 */
/* White #FFFFFF */
/* Buttons #4D5AE5 */
/* Success 1GREEN #31D0AA */
/* Subtle Text #8E8F99 */
/* Accent 1cornflower #E7E9FC */
/* Light 1CLOUD #F4F4FD */
/* Hero background 1GREY #2E2F42 */
/* Focus/Hover button #404BBF */

:root {
  --title-text-color: #2e2f42;
  --paragraph-text-color: #434455;
  --botton-text-color: #4d5ae5;
  --bgc-white-color: #ffffff;
  --studio-white-color: #f4f4fd;
  --focus-btn-color: #404bbf;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--bgc-white-color);
  color: var(--paragraph-text-color);
  letter-spacing: 0.02em;
}

ul {
  list-style-type: none;
}

.logo,
.nav-link,
.contact,
.footer-logo {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* лого webstudio */
.web {
  color: var(--botton-text-color);
  font-size: 18px;
  line-height: 1;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}
.studio {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 1;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

/* меню навігації */

.nav-link {
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: var(--title-text-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--botton-text-color);
}

.address {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: var(--paragraph-text-color);
}
.contact {
  color: var(--paragraph-text-color);
}
.contact:hover,
.contact:focus {
  color: var(--botton-text-color);
}

/* герой титул */

.hero {
  background-color: var(--title-text-color);
}
.hero-title {
  color: var(--bgc-white-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;
  width: 494px;
}
.hero-button {
  width: 169px;
  height: 56px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: var(--botton-text-color);
  letter-spacing: 0.04em;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--focus-btn-color);
  color: var(--bgc-white-color);
}

.button-text {
  color: var(--bgc-white-color);
  font-size: 16px;
  line-height: 1.5;
}
/* секція категорій */

.priorities h3 {
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-text-color);
}

/* ворк тітул */

.work-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  color: var(--title-text-color);
}

/* team */

.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  color: var(--title-text-color);
}
.team-box h3 {
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-text-color);
}

/* PORTFOLIO */

.all-btn {
  font-size: 16px;
  line-height: 1.5;
  color: var(--botton-text-color);
  background: var(--studio-white-color);
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  letter-spacing: 0.04em;
}
.all-btn:focus,
.all-btn:hover {
  background-color: var(--focus-btn-color);
  color: var(--bgc-white-color);
}

.work-portfolio h3 {
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-text-color);
}

/* Footer */

.footer-box {
  background-color: var(--title-text-color);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  color: #e7e9fc;
}
.footer-logo-studio {
  color: var(--studio-white-color);
  font-size: 18px;
  line-height: 1.2;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}
